<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'index/banner.jpg', alt: 'theater room with red seats' %>);">
  <div class="container">
    <h1>Create movies lists</h1>
    <p>Never forget what movies you wanted to watch with your loved ones</p>
  </div>
</div>

<div class="container">
  <% if @lists.any? %>
    <h1 class="my-4 text-center">All the lists!</h1>
  <% else %>
    <h1 class="my-4 text-center">No list yet :(</h1>
  <% end %>
  <div class="cards">
    <% @lists.each do |list| %>
      <% if list.photo.attached? %>
        <%= render 'lists/customized_card', list: list %>
      <% else %>
        <%= render 'lists/card', list: list %>
      <% end %>
    <% end %>
  </div>
</div>
