<div class="container">
  <h1 class="my-4 text-center">All the lists!</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <%= render 'lists/card', list: list %>
    <% end %>
  </div>
</div>
